<ion-header>
  <ion-toolbar>
    <ion-title>subpage</ion-title>
    <!-- Link alla pagina superiore   -->
    <a href="/tabs/tab1">
      <ion-icon name="arrow-round-back"></ion-icon>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf='chat != undefined'>
  <ion-card *ngFor='let value of chat.messages'>
    <ion-card-header>
      <ion-card-subtitle>{{value.author}}</ion-card-subtitle>
    </ion-card-header> 
    <ion-card-content>{{value.message}}</ion-card-content> 
  </ion-card> 
</ion-content>
